<app-header></app-header>
<router-outlet></router-outlet>
<!-- <div class="modal fade" id="_modal_please_wait" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" loading-indicator>
  <div class="modal-dialog sumando-loading-modal-dialog">
    <div class="modal-content center_Modal" style="height: 100%;">
      <img src="/loader-banorte.gif" style="margin-top: 240px;" width="100%" id="imgGif" />
    </div>
  </div>
</div> -->
<!-- Este es solo la prueba para ver si esta el boootstrap instalado -->
<a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Ir al login</a>
<p>Este es un pequeño parrafo escrito con el neovim, solo para saber como esta quedando</p>
